<section class="heading-section">
    <h1 class="title is-1 has-text-centered">To Dos!</h1>
</section>

<div class="container">
    <div class="add-to-do-box">
        <form>
            <h2 class="title is-5">New Todo</h2>

            <div class="field is-grouped">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Type to do text here ...">
                </p>
                <p class="control">
                  <button class="button alt-gradient-button">
                    <i class="material-icons">add</i> Add
                  </button>
                </p>
              </div>
        </form>
</div>
<section class="section">
    <div class="container">
        <div class="todos-list">
            <div class="todo-item completed">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>
                <div class="todo-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, accusamus aut, eligendi quisquam odio perferendis nihil rem numquam quia exercitationem corrupti molestias voluptates unde maiores fugiat nulla fugit sint inventore.
                </div>
            </div>
            <div class="todo-item">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>
                <div class="todo-text">
                    This only has one line of text 
                </div>
            </div>
        </div>
    </div>
</section>