.heading-section {
    background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
    padding: 100px;
    padding-bottom: 150px;

     h1.title {
        color: white;
        font-weight: bold;
        text-shadow: 0px 1px 2px rgba(black, 0.12);
     }
}

.container {
    max-width: 800px;
}

.add-to-do-box {
    padding: 25px;
    border-radius: 4px;
    margin-top: -68px;
    background-color: white;
    box-shadow: 0px 4px 12px rbga(black, 0.08);
}

.todo-item {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 35px 15px;
    border-bottom: 1px solid #F2F3F5;
    cursor: pointer;

    &.completed {
        color: #AAA;
    }

    .check-box {
        display: flex;
        flex-shrink: 0;
        border: 2px solid #EEE;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin-right: 20px;
        transition: background-color 0.2s;

        i.material-icons {
            color: #333;
            font-size: 20px;
            margin: auto;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }
}

.todo-item:hover .check-box {
    background-color: #EEE;

    i.material-icons {
        opacity: 0.28;
    }
}

.todo-item.completed .check-box {
    background-color: rgb(11, 223, 170);
    border-color: rgb(11, 223, 170);

    i.material-icons {
        opacity: 1;
    }
}